# ─── Django ───
DJANGO_SECRET_KEY=genera-una-clave-unica-aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=10.25.1.131,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://10.25.1.131,http://localhost

# ─── Base de datos ───
DB_HOST=db
DB_NAME=tareas
DB_USER=tareas
DB_PASSWORD=tareas
DB_PORT=5432

# ─── Proxy corporativo (solo para build) ───
HTTP_PROXY=http://10.25.1.229:3128
HTTPS_PROXY=http://10.25.1.229:3128

# ─── Puerto de la aplicación ───
APP_PORT=5000
